.swal2-popup.swal2-toast {
    padding: 0.25em 0.75em;
    font-size: 0.875rem;
    max-width: 300px;
}

.swal2-popup.swal2-toast .swal2-title {
    margin: 0.5em 1em;
    font-size: 0.875rem;
}

.swal2-container {
    position: fixed !important;
}